.m-serviceInfo {
    margin:unset;
    padding: {
        top: 100px;
        bottom: 100px;
        // left: 200px;
        // right: 200px;
    };
    background: rgb(196, 155, 99);
    &-col {
        padding: {
            left:70px;
            right:70px;
        }
    }
}