@import '../../../commons/style.scss';
.navWrapper {
    margin:0;
    position: fixed;
    z-index: 2;
    top:-1;
    width:100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: {
        top: 20px;
        bottom:20px;
    }
    &-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-weight: 500;
        &-drop {
            color: $white-color !important;
            &:hover {
                color: $brown-color !important;
            }
        }
        .active {
            color: $brown-color !important;
        }
    }
}