@import '../../../commons//style.scss';

.carousel {
    z-index: 1;
    &-item {
        &-img {
            &:hover {
                transform: scale(1.01);
                transition: transform 0.5s ease 0s;
            }
        }
    }
}