.m-info {
    padding: {
        top: 30px;
        bottom: 30px;
        left:50px;
        right:50px;
    };
    margin: unset;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    color: white;
    &-col {
        margin: {
            left: 15px;
            right:15px;
        }
    }
}