@import '../../../commons/style.scss';

.m-menu {
    margin: unset;
    position: relative;
    height: 800px;

    &-col {
        &_left {
            padding: 40px;
            position: absolute;
            width: 40%;
            top: 50%;
            left: 33%;
            transform: translate(-50%, -50%);
            text-align: end;

            &-h1 {
                color: $white-color;
            }

            &-h2 {
                color: $brown-color;
            }

            &-p {
                margin-top: 40px;
                color: $gray-color;
            }
        }

        &_right {
            position: absolute;
            width: 33%;
            height: auto;
            top: 50%;
            left: 69%;
            transform: translate(-50%, -50%);
            text-align: start;

            &-img:hover {
                transform: scale(1.02);
                transition-duration: 0.5s;
            }
        }

    }

    @media only screen and (max-width: 992px) {
        &-col {
            &_left {
                width: 40%;
                top: 50%;
                left: 23%;
                &-h1 {
                    font-size: 14px;
                }

                &-p {
                    display: none;
                }
            }

            &_right {
                width: 53%;
                height: auto;
                top: 50%;
                left: 69%;
            }
        }

    }
}